/** RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/**-------*/
/** BASE  */
/**-------*/

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  }
}

/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: 0.8rem;
    --font-size-base: 1rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 1.56rem;
    --font-size-xl: 1.95rem;
    --font-size-xxl: 2.44rem;
    --font-size-xxxl: 3.05rem;
  }

  @media screen and (min-width: 1280px) {
    :root {
      --font-size-sm: 0.89rem;
      --font-size-base: 1.19rem;
      --font-size-md: 1.58rem;
      --font-size-lg: 2.11rem;
      --font-size-xl: 2.81rem;
      --font-size-xxl: 3.75rem;
      --font-size-xxxl: 5rem;
    }
  }
}

:root {
  font-size: 62.5%;
  --diogenes-font: DIOGENES;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Arsenal", sans-serif;
  font-size: var(--font-size-lg);
  background-color: #0c0c30;
  min-height: 100vh;
  color: aliceblue;
}

h1,
h2,
h3,
h4 {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  color: aliceblue;
}

h1 {
  font-size: var(--font-size-xxxl);
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: var(--font-size-xxl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-lg);
}

small {
  font-size: var(--font-size-md);
  color: #ffd700;
}

p {
  line-height: 1.8;
  margin-bottom: 2rem;
  font-size: var(--font-size-md);
}

@media (width <=414px) {
  p {
    font-size: var(--font-size-lg);
  }
}

a {
  text-decoration: none;
}

hr {
  width: 50%;
  margin: 0 auto;
}

/**--------------------*/
/**       STYLUS       */
/**--------------------*/

/**--------*/
/** HEADER */
/**--------*/

header {
  background-image: linear-gradient(rgb(26, 26, 26), rgb(29, 29, 85));
  border: 1px solid rgb(255, 100, 255);
  box-shadow: 0px 0px 10px 3px rgb(0, 231, 231);
  margin-inline: 1rem;
  margin-top: 1rem;
}

@font-face {
  font-family: "DIOGENES";
  src: url(src/font/DIOGENES.ttf);
}

.athena-font {
  font-family: var(--diogenes-font);
}

.text-center {
  text-align: center;
}

.box-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.athena-color {
  color: #ffd700;
}

.icon {
  width: 25px;
  height: 25px;
}

.icon-github {
  width: 35px;
  height: 35px;
}

.img-hero {
  width: 250px;
  height: 250px;
  display: flex;
}

.navbar-header {
  padding-inline: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(255, 100, 255);
  box-shadow: 0px 0px 10px 3px rgb(0, 231, 231);
  background-color: #11110d3f;
}

.navbar-box {
  display: flex;
  gap: 2rem;
  display: flex;
  align-items: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.box-athena {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-download {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 60px;
  padding: 1.2rem;
  font-size: var(--font-size-md);
  background-color: #0f0f0a;
  color: #ffd700;
}

.btn-download:hover {
  border: 1px solid #ffd700;
  box-shadow: 0px 1px 5px 0px #ffd700;
}

.fluor {
  color: aqua;
  font-weight: bold;
}

/**--------*/
/**  MAIN  */
/**--------*/

main {
  background-color: #050505;
  padding: 1rem;
  border-radius: 5px;
  border-top: 5px solid #ffd700;
  box-shadow: 0px 0px 15px 1px #ffd700;
}

.img-carousel {
  width: 300px;
  height: 200px;
  padding: 0.2rem;
  aspect-ratio: 16/9;
  border: 5px solid #ffd700;
  background-color: #8e07af;
  border-radius: 10px;
  transform: translate3d(0px, -70px, 10px);
}

.box-feature {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  border: 1px solid rgb(255, 100, 255);
  box-shadow: 0px 0px 10px 3px rgb(0, 231, 231);
  padding: 1.5rem;
  text-align: center;
  color: #ffd700;
  border-radius: 10px;

}

.rombo {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(151, 248, 255);
  box-shadow: 0px 0px 20px 10px rgb(0, 231, 231);
  background: #e069da;
  -webkit-transform: rotate(45deg) skew(15deg, 15deg);
  -moz-transform: rotate(45deg) skew(15deg, 15deg);
  -ms-transform: rotate(45deg) skew(15deg, 15deg);
  -o-transform: rotate(45deg) skew(15deg, 15deg);
  transform: rotate(45deg) skew(15deg, 15deg);
}

.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.img-carousel:hover {
  box-shadow: 0px 0px 15px 1px #ffd700;
}

.frame-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 1rem;
}

.icon-features {
  width: 80px;
  height: 80px;
}


/** -------MEDIA QUERY------------- */

@media (width >=1024px) {
  .img-carousel {
    width: 750px;
    height: 500px;
    aspect-ratio: 16/9;
  }
}

@media (width >=1280px) {
  .img-carousel {
    width: 550px;
    height: 300px;
    aspect-ratio: 16/9;
  }

  .box-feature {
    display: flex;
    flex-direction: row;
  }
}

@media (width >=1440px) {
  .img-carousel {
    width: 1100px;
    height: 600px;
    background-color: #8e07af;
  }

  .box-feature {
    display: flex;
    flex-direction: row;
  }
}

@media (width >=3840px) {
  .img-carousel {
    width: 2640px;
    height: 1380px;
  }

  .navbar-header {
    padding-inline: 10rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .icon {
    width: 110px;
    height: 110px;
  }

  .icon-github {
    width: 140px;
    height: 140px;
  }

  .img-hero {
    width: 800px;
    height: 800px;
  }

  .hero-section {
    margin: 5rem;
    padding-bottom: 10rem;
  }

  h1 {
    font-size: 14rem;
  }

  p {
    font-size: var(--font-size-xxxl);
  }

  .btn-download {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 60px;
    padding: 2.5rem;
    font-size: var(--font-size-xxxl);
    background-color: #0f0f0a;
    color: #ffd700;
  }

  .box-button {
    gap: 10rem;
  }

  header {
    padding-bottom: 20rem;
  }

  .img-carousel {
    transform: translate3d(0px, -170px, 0px);
  }

  h3 {
    font-size: 8rem;
  }

  h2 {
    font-size: 10rem;
  }

  .box-feature {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    max-width: 400rem;
    margin: 2rem;
  }

  .icon-feature {
    width: 150px;
    height: 150px;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    border: 5px solid rgb(255, 100, 255);
    box-shadow: 0px 0px 25px 10px rgb(0, 231, 231);
    padding: 2rem;
    text-align: center;
    color: #ffd700;
    border-radius: 10px;
  }

  .rombo {
    width: 100px;
    height: 100px;
    border: 5px solid rgb(151, 248, 255);
    box-shadow: 0px 0px 50px 20px rgb(0, 231, 231);
    position: absolute;
    left: 1933px;
    bottom: -150px;
    
  }
}

/** -------MEDIA QUERY------------- */

/* ----------------------------------------------
 * Generated by Animista on 2023-2-11 14:0:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
  animation: text-focus-in 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2023-2-11 14:3:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bl
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bl {
  0% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
    transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-bl {
  0% {
    -webkit-transform: translateY(1000px) translateX(-1000px);
    transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}


.slide-in-bl {
  -webkit-animation: slide-in-bl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-2-11 14:5:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-br
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-br {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px);
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.slide-in-br {
  -webkit-animation: slide-in-br 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-br 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-11 14:11:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
  @-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
